* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #252525;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
}

.center,
.sound,
.bl,
.airplane,
.wifi {
    width: 100px;
    height: 100px;
    background-color: #f1f1f1;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
}

.center:hover {
    box-shadow: 0 0 22px 9px rgba(255, 255, 255, 0.2);
}

.sound {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: -1;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    animation-delay: 0.6s;
}

.sound:hover {
    background-color: rgb(255, 76, 237);
    box-shadow: 0 0 22px 9px rgba(255, 76, 237, 0.5);
}

.bl {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: -1;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
}

.bl:hover {
    background-color: rgb(91, 76, 255);
    box-shadow: 0 0 22px 9px rgba(91, 76, 255, 0.5);
}

.airplane {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: -1;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    animation-delay: 0.6s;
}

.airplane:hover {
    background-color: rgb(76, 225, 255);
    box-shadow: 0 0 22px 9px rgba(76, 225, 255, 0.5);
}

.wifi {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: -1;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
}

.wifi:hover {
    background-color: rgb(76, 255, 76);
    box-shadow: 0 0 22px 9px rgba(76, 255, 76, 0.5);
}

svg {
    width: 60px;
    height: 60px;
    transition: all 0.3s;
}

.sound svg,
.bl svg,
.airplane svg,
.wifi svg {
    width: 40px;
    height: 40px;
}

.settings {
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

.close {
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

@keyframes rotatesetting {
    0% {
        transform: scale(1) rotate(0deg);
    }

    100% {
        transform: scale(0) rotate(120deg);
    }
}

@keyframes rotateclose {
    0% {
        transform: scale(0) rotate(-90deg);
    }

    100% {
        transform: scale(1) rotate(0deg);
    }
}

@keyframes rotatesettingrev {
    0% {
        transform: scale(0) rotate(0deg);
    }

    100% {
        transform: scale(1) rotate(-120deg);
    }
}

@keyframes rotatecloserev {
    0% {
        transform: scale(1) rotate(90deg);
    }

    100% {
        transform: scale(0) rotate(0deg);
    }
}

@keyframes top {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-150px);
    }
}

@keyframes bottom {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(150px);
    }
}

@keyframes right {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(150px);
    }
}

@keyframes left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-150px);
    }
}

@keyframes toprev {
    0% {
        transform: translateY(-150px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes bottomrev {
    0% {
        transform: translateY(150px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes rightrev {
    0% {
        transform: translateX(150px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes leftrev {
    0% {
        transform: translateX(-150px);
    }

    100% {
        transform: translateX(0px);
    }
}